@model WebMarket.Models.Product

@{
    ViewData["Title"] = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Edit" asp-controller="AdminProducts" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="Thumb" />

    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-action="Index" asp-area="Admin" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                        <a asp-action="Index" asp-area="Admin" asp-controller="AdminProducts" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh sách sản phẩm</a>
                        <span class="breadcrumb-item active">@ViewData["Title"]</span>
                    </nav>
                </div>
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ProductName">Tên sản phẩm</label>
                        <input type="text" class="form-control" asp-for="ProductName" placeholder="Tên sản phẩm">
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ShortDesc">Mô tả ngắn</label>
                        <input type="text" class="form-control" asp-for="ShortDesc" placeholder="Mô tả ngắn">
                        <span asp-validation-for="ShortDesc" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="Price">Giá</label>
                            <input type="text" class="form-control" asp-for="Price" placeholder="Giá">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="Discount">Giá giảm</label>
                            <input type="text" class="form-control" asp-for="Discount" placeholder="Giá giảm">
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Danh mục sản phẩm</label>
                            <select class="custom-select" asp-for="CatId" asp-items="ViewBag.CatID">
                                <option value="" disabled selected>Chọn danh mục sản phẩm</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="UnitslnStock">Hàng tồn kho</label>
                            <input type="text" class="form-control" asp-for="UnitslnStock" placeholder="Hàng tồn kho">
                            <span asp-validation-for="UnitslnStock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Thumb">Ảnh đại diện</label>
                        <input type="file" class="form-control" name="fThumb" asp-for="Thumb" placeholder="Ảnh đại diện">
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="m-t-25">
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="Active" />
                                    <label for="Active"></label>
                                </div>
                                <label>Public</label>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="HomeFlag" />
                                    <label for="HomeFlag"></label>
                                </div>
                                <label>HomeFlag</label>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="BestSellers" />
                                    <label for="BestSellers"></label>
                                </div>
                                <label>BestSellers</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Title">Tiêu đề</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="MetaDesc">MetaDesc</label>
                        <input type="text" class="form-control" asp-for="MetaDesc" />
                        <span asp-validation-for="MetaDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="MetaKey">MetaKey</label>
                        <input type="text" class="form-control" asp-for="MetaKey" />
                        <span asp-validation-for="MetaKey" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Tags">Tags</label>
                        <input type="text" class="form-control" asp-for="Tags" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    @*<div id="productDescription">
                            <p>Special cloth alert. The key to more success is to have a lot of pillows. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. They will try to close the door on you, just open it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. They key is to have every key, the key to open every door.The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Lion! I’m up to something. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise.</p>
                        </div>*@
                    <textarea asp-for="Description"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <!-- page js -->
    <script src="~/adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/adminassets/vendors/quill/quill.min.js"></script>
    <script src="~/adminassets/js/pages/e-commerce-product-edit.js"></script>
}